@import "theme";

.container{
    
    padding-top: 40px;
    padding-bottom: 40px;
    
}
.survey-container{
    color: $text-color;

    h1,h2,h3,h4,h5{
      color: $headers-color;
    }
    .form-group{
      position: relative;
    }
    /*
        Custom radio and checkboxes
     */
    .control-group {
      display: inline-block;
      vertical-align: top;
      background: #fff;
      text-align: left;
      box-shadow: 0 1px 2px rgba(0,0,0,0.1);
      padding: 30px;
      width: 200px;
      height: 210px;
      margin: 10px;
    }
    .control {
      display: block;
      position: relative;
      padding-left: 30px;
      margin-bottom: 15px;
      cursor: pointer;
      
    }
    .control input {
      position: absolute;
      z-index: -1;
      opacity: 0;
    }
    .control__indicator {
      position: absolute;
      top: 2px;
      left: 0;
      height: 20px;
      width: 20px;
      background: #e6e6e6;
    }
    .control--radio .control__indicator {
      border-radius: 50%;
    }
    .control:hover input ~ .control__indicator,
    .control input:focus ~ .control__indicator {
      background: #ccc;
    }
    .control input:checked ~ .control__indicator {
      background: $checkbox-color;
    }
    .control:hover input:not([disabled]):checked ~ .control__indicator,
    .control input:checked:focus ~ .control__indicator {
      background: $checkbox-color;
    }
    .control input:disabled ~ .control__indicator {
      background: #e6e6e6;
      opacity: 0.6;
      pointer-events: none;
    }
    .control__indicator:after {
      content: '';
      position: absolute;
      display: none;
    }
    .control input:checked ~ .control__indicator:after {
      display: block;
    }
    .control--checkbox .control__indicator:after {
      left: 8px;
      top: 4px;
      width: 3px;
      height: 8px;
      border: solid #fff;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
    .control--checkbox input:disabled ~ .control__indicator:after {
      border-color: #7b7b7b;
    }
    .control--radio .control__indicator:after {
      left: 7px;
      top: 7px;
      height: 6px;
      width: 6px;
      border-radius: 50%;
      background: #fff;
    }
    .control--radio input:disabled ~ .control__indicator:after {
      background: #7b7b7b;
    }
    .select {
      position: relative;
      display: inline-block;
      margin-bottom: 15px;
      width: 100%;
    }
    .select select {
      display: inline-block;
      width: 100%;
      cursor: pointer;
      padding: 10px 15px;
      outline: 0;
      border: 0;
      border-radius: 0;
      background: #e6e6e6;
      color: #7b7b7b;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
    }
    .select select::-ms-expand {
      display: none;
    }
    .select select:hover,
    .select select:focus {
      color: #000;
      background: #ccc;
    }
    .select select:disabled {
      opacity: 0.5;
      pointer-events: none;
    }
    .select__arrow {
      position: absolute;
      top: 16px;
      right: 15px;
      width: 0;
      height: 0;
      pointer-events: none;
      border-style: solid;
      border-width: 8px 5px 0 5px;
      border-color: #7b7b7b transparent transparent transparent;
    }
    .select select:hover ~ .select__arrow,
    .select select:focus ~ .select__arrow {
      border-top-color: #000;
    }
    .select select:disabled ~ .select__arrow {
      border-top-color: #ccc;
    }
    .checkbox label, .radio label{
      padding-left: 28px;
    }
    label{
      color: $label-color;
    }

    .sv-banner{
      font-size: 42px;
      font-weight: 800;
      line-height: 120px;
      color: #fff;
      text-align: center;
      background-color: $banner-color;  
      border-left:10px solid #16A085; 
    }

    .form-control{
      border-radius: $input-border-radius;
      padding: 12px;
      height: auto;
      box-shadow: none;
      border:none;
      border-bottom: 1px solid #ccc;
      background-color: $input-background-color;
        &:focus {
          border-color: $input-focus-color;
          outline: 0;
          -webkit-box-shadow: inset 0 1px 1px $input-focus-color, 0 0 8px $input-focus-color;
          box-shadow: inset 0 1px 1px $input-focus-color, 0 0 8px $input-focus-color;
      }
    }

    ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color: $placeholder-color;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color: $placeholder-color;
       opacity:  1;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
       color: $placeholder-color;
       opacity:  1;
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
       color: $placeholder-color;
    }
    ::-ms-input-placeholder { /* Microsoft Edge */
       color: $placeholder-color;
    }

    
    .sortable{
      background-color: $sortable-background-color;
      padding: 15px;
      list-style: none;
      li{
        padding: 6px;
        cursor: move;
        border-left: 4px solid #555;
        margin-bottom: 8px;      
        transition: all ease .5s;
      }
      li:hover{
            background-color: $sortable-hover-background-color;
            transition: all ease .5s;
        }
    }

    .survey-submit{
      text-decoration: none;
      padding:15px;
      margin: 10px 0;
      display: block;
      font-weight: 600;
      text-transform: uppercase;
      text-align: center;  
      background-color: $submit-background-color;
      color: $submit-color;
      transition: all ease .5s;
        &:hover{
            background-color: $submit-hover-background-color;
        }
    }

    .error{
      /*border: 1px solid $error-color;*/
    }

    .bubble{
     
    
      position: absolute;
      top: 10px;
      
      text-align: center;
      right: 10px;
      transition: all ease .4s;
      
      span{
           
          font-size: 22px;
      }
    }
    .bubble-success span{
         color: $error-buble-success-background-color;
      } 
      .bubble-error span{
       color:  $error-buble-error-background-color;  
      }
   


}


