/**
 * Main variables
 *
 */
$text-color: #333;
$headers-color: #333;
$banner-color: #2ECC71;
/**
 * Form variables
 *
 */
$checkbox-color: #2ECC71;
$label-color: #555;
$input-border-radius: 0;
$input-border-color: #ccc;
$input-background-color: #fff;
$input-focus-color: #ccc;
$placeholder-color: #ccc;
$sortable-background-color: #eee;
$sortable-hover-background-color: #ccc;
$submit-background-color: #2ECC71;
$submit-hover-background-color: #3FC380;
$submit-color: #fff;
$error-color: #c0392b;